# Default: all changes require maintainer review
* @Munyaradzi-Chigangawa

# Extra sensitive: CI / workflows
.github/workflows/* @Munyaradzi-Chigangawa

# App source
EmuHub/** @Munyaradzi-Chigangawa

# Docs
docs/** @Munyaradzi-Chigangawa
README.md @Munyaradzi-Chigangawa
CONTRIBUTING.md @Munyaradzi-Chigangawa
LICENSE @Munyaradzi-Chigangawa
